---
import Code from "../icons/Code.astro";

const PROJECTS = [
  {
    title: "SportSpot",
    description: "Web app para encontrar lugares donde practicar deporte",
    image: "https://source.unsplash.com/random/800x600",
    url: "#",
    github: "https://github.com/manu4970/Sport-Spot",
    tags: ["React", "TailwindCSS", "Astro"],
  },
  {
    title: "Chiqui URL",
    description:
      "Esta aplicacion fue creada para acortar enlaces de manera sencilla y rapida",
    image: "/ChiquiURL.webp",
    url: "https://chiquiurl-api.onrender.com/",
    github: "https://github.com/manu4970/ChiquiURL",
    tags: ["JS", "Node.Js", "Express", "postgreSQL"],
  },
];
---

<section id="proyectos" class="section w-full mx-auto lg:w-[700px] mb-10 pt-20">
  <h3
    class="text-white flex justify-center items-center gap-2 test-bold text-3xl mb-6"
  >
    <a><Code /></a>Proyectos
  </h3>
  <div class="grid md:grid-cols-2 md:w-full px-4 gap-4">
    {
      PROJECTS.map((proyect) => (
        <article class=" border rounded-lg shadow bg-[#1E1C23] border-gray-700">
          <a href={proyect.url} target="_blank">
            <img
              class="object-cover w-full h-48 rounded-t-lg"
              src={proyect.image}
              alt={proyect.title}
            />
          </a>
          <div class="p-5">
            <a href={proyect.url} target="_blank">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
                {proyect.title}
              </h5>
            </a>
            <p class="mb-3 font-normal text-white">{proyect.description}</p>
          </div>
        </article>
      ))
    }
  </div>
</section>
